{% extends 'base/front_base.html' %}
{% block title %}
    课堂首页
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %}">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main">
                <div class="course-nav">
                    <div class="nav-container">
                        <h3 class="title">在线课堂</h3>
                        <ul class="nav-list">
                            <li class="active"><a href="#">最新课堂</a></li>
                            <li><a href="#">投资人说</a></li>
                            <li><a href="#">明星案例</a></li>
                            <li><a href="#">创业知识</a></li>
                        </ul>
                    </div>
                </div>
                <div class="wrapper">
                    <ul class="course-list">
                        <li>
                            <a href="">
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt=""
                                         class="thumbnail">
                                </div>
                                <div class="course-info">
                                    <p class="title">创业CEO如何避免技术决策错误</p>
                                    <p class="author">Null</p>
                                    <p class="price-group">
                                        <span class="free">免费</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt=""
                                         class="thumbnail">
                                </div>
                                <div class="course-info">
                                    <p class="title">创业CEO如何避免技术决策错误</p>
                                    <p class="author">Null</p>
                                    <p class="price-group">
                                        <span class="free">免费</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt=""
                                         class="thumbnail">
                                </div>
                                <div class="course-info">
                                    <p class="title">创业CEO如何避免技术决策错误</p>
                                    <p class="author">Null</p>
                                    <p class="price-group">
                                        <span class="free">免费</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt=""
                                         class="thumbnail">
                                </div>
                                <div class="course-info">
                                    <p class="title">创业CEO如何避免技术决策错误</p>
                                    <p class="author">Null</p>
                                    <p class="price-group">
                                        <span class="free">免费</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="thumbnail-group">
                                    <img src="https://static-image.xfz.cn/1563171954_878.png-course.list.small" alt=""
                                         class="thumbnail">
                                </div>
                                <div class="course-info">
                                    <p class="title">创业CEO如何避免技术决策错误</p>
                                    <p class="author">Null</p>
                                    <p class="price-group">
                                        <span class="free">免费</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}