<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'css/course/course_detail.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1645680_gp5egnihb27.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="log-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">付费资讯</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="course-nav">
        <div class="nav-container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">创业知识</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="course-wrapper">
            <div class="course-info">
                <p class="course-title">创业CEO如何避免技术决策错误</p>
                <div class="price-group">
                    <div class="share-group">
                        <span class="title">分享至：</span>
                        <a href="" class="weixin share-item"></a>
                        <a href="" class="weibo share-item"></a>
                    </div>
                    <div class="buy-group">
                        <span class="price free">免费</span>
                        <!--<span class="price pay">$49.0</span>-->
                        <!--<a href="" class="buy-btn">立即购买</a>-->
                    </div>
                </div>
            </div>
            <div class="video-group">
            </div>
        </div>
        <div class="bottom-group">
            <div class="course-detail-wrapper">
                <div class="item-group">
                    <p class="item-title">课程讲师</p>
                    <div class="teacher-group">
                        <div class="avatar-group">
                            <img src="https://static-image.xfz.cn/1536563248_165.png" alt="">
                        </div>
                        <div class="teacher-info">
                            <p class="teacher-name">龚世海</p>
                            <p class="teacher-desc">HiCTO创始人兼CEO</p>
                        </div>
                    </div>
                    <p class="item-content">
                        小饭桌创业课堂在线课堂是小饭桌旗下的线上视频课程产品，汇聚顶级创业大咖导师、行业资深专家，致力于用系统、垂直的知识体系让创业者认知升级、
                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">课程简介</p>
                    <p class="item-content">
                        小饭桌创业课堂在线课堂是小饭桌旗下的线上视频课程产品，汇聚顶级创业大咖导师、行业资深专家，致力于用系统、垂直的知识体系让创业者认知升级、
                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">适宜人群</p>
                    <p class="item-content">
                        小饭桌创业课堂在线课堂是小饭桌旗下的线上视频课程产品，汇聚顶级创业大咖导师、行业资深专家，致力于用系统、垂直的知识体系让创业者认知升级、
                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">帮助中心</p>
                    <p class="item-content">
                        小饭桌创业课堂在线课堂是小饭桌旗下的线上视频课程产品，汇聚顶级创业大咖导师、行业资深专家，致力于用系统、垂直的知识体系让创业者认知升级、
                    </p>
                </div>
                <div class="item-group">
                    <p class="item-title">关于小饭桌创业课堂在线课堂</p>
                    <p class="item-content">
                        小饭桌创业课堂在线课堂是小饭桌旗下的线上视频课程产品，汇聚顶级创业大咖导师、行业资深专家，致力于用系统、垂直的知识体系让创业者认知升级、
                    </p>
                </div>
            </div>
            <div class="recommand-wrapper">
                <p class="recommand-title">推荐课程</p>
                <ul class="course-list">
                    <li>
                        <a href="">
                            <div class="course-info-group">
                                <p class="course-title">教你去投资</p>
                                <p class="teacher">大师</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1513065071_142.png-course.list.small" alt="" class="thumbnail">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="course-info-group">
                                <p class="course-title">教你去投资</p>
                                <p class="teacher">大师</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1513065071_142.png-course.list.small" alt="" class="thumbnail">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="course-info-group">
                                <p class="course-title">教你去投资</p>
                                <p class="teacher">大师</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1513065071_142.png-course.list.small" alt="" class="thumbnail">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="course-info-group">
                                <p class="course-title">教你去投资</p>
                                <p class="teacher">大师</p>
                            </div>
                            <div class="thumbnail-group">
                                <img src="https://static-image.xfz.cn/1513065071_142.png-course.list.small" alt="" class="thumbnail">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="log-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="">关于小饭桌</a></li>
                        <li><a href="">创业课堂</a></li>
                        <li><a href="">寻求报道</a></li>
                        <li><a href="">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们：</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <div class="wx-qrcode"></div>
                                <span class="text">xfz008</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：北京市朝阳区东三环北路38号院泰康金融大厦</p>
                    <p class="contact">呼叫热线：4008-100-300</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574
    </div>
</footer>
</body>
</html>