<div class="sidebar-wrapper">
    <div class="title-group">
        <span class="title">在线课堂</span>
        <a class="more" href="">更多</a>
    </div>
    <div class="advertise-group">
        <a href="">
            <img src="https://static-image.xfz.cn/1554346383_8.png" alt="">
        </a>
    </div>
    <div class="platform-group">
        <div class="title-group">
            <span class="title">关注小饭桌</span>
        </div>
        <div class="focus-group">
            <ul class="left-group">
                <li class="zhihu">
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="weibo">
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="toutiao">
                    <a href="#" target="_blank">小饭桌</a>
                </li>
            </ul>
            <div class="right-group">
                <p class="desc">扫码关注小饭桌微信公众号xfz008</p>
            </div>
        </div>
    </div>
    <div class="hot-news-group">
        <div class="title-group">
            <span class="title">热门推荐</span>
        </div>
        <ul class="hot-list-group">
            <li>
                <div class="left-group">
                    <p class="title"><a href="">早报：钟南山表示新型冠状病毒肺炎疫情...</a></p>
                    <p class="more">
                        <span class="category">深度报道</span>
                        <span class="pub-time">1小时前</span>
                    </p>
                </div>
                <div class="right-group">
                    <a href=""><img src="https://static-image.xfz.cn/1581983960_171.jpg-website.news.list" alt=""></a>
                </div>
            </li>
        </ul>
    </div>
</div>