$pageWidth: 1170px;
$navHeight: 64px;
$mainBoxWidth:798px;
$sidebarWidth: 356px;
$themeColor: #5c87d9;
$mainFontColor: #212121;
$assistFontColor: #878787;
$bannerWidth: $mainBoxWidth;
$bannerHeight: 202px;
$newsInfoHeight: 28px;
$courseNavHeight: 54px;
$courseItemHeight: 280px;
$thumbnailHeight: 158px;
