@import "init.scss";
@import "constants.scss";

body {
  background: #f2f2f2;
}


.header {
  width: 100%;
  height: $navHeight;
  background: #3a3a3a;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;

  .container {
    width: $pageWidth;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    .log-box {
      width: 140px;
      height: 54px;
      background: url("https://www.xfz.cn/static/build/images/logo.png") no-repeat;
      margin-top: 8px;
      float: left;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .nav {
      margin-left: 128px;
      float: left;

      li {
        float: left;
        margin-right: 40px;
        line-height: $navHeight;
        height: $navHeight;
        box-sizing: border-box;

        a {
          color: #ffffff;
        }

        &.active {
          border-bottom: 5px solid $themeColor;
        }
      }

    }

    .auth-box {
      float: right;
      line-height: $navHeight;
      height: $navHeight;
      font-size: 14px;

      .iconfont {
        color: #ffffff;
        font-size: 20px;
      }

      a {
        color: #ffffff;
      }
    }
  }
}

.main {
  width: 100%;
  margin-top: $navHeight + 20px;

  .wrapper {
    width: $pageWidth;
    margin: 0 auto;
    overflow: hidden;

    .news-wrapper {

      $bannerWidth: $mainBoxWidth;
      $bannerHeight: 202px;

      float: left;
      width: $mainBoxWidth;
      background: #ffffff;

      .banner-group {
        width: 100%;
        height: $bannerHeight;
        background: red;
        position: relative;
        overflow: hidden;
        z-index: 0;

        .banner-ul {
          overflow: hidden;
          width: $bannerWidth*4;
          position: absolute;
          left: 0;

          li {
            float: left;
            width: $bannerWidth;
            height: $bannerHeight;

            img {
              width: $bannerWidth;
              height: $bannerHeight;
            }
          }
        }

        .arrow {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 70px;
          color: #ffffff;
          position: absolute;
          top: 50%;
          margin-top: -45px;
          cursor: pointer;
          display: none;
        }

        .left-arrow {
          left: 20px;
        }

        .right-arrow {
          right: 20px;
        }

        .page-control-group {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;

          .page-control {
            margin: 0 auto;
            overflow: hidden;

            li {
              width: 10px;
              height: 10px;
              border: 1px solid #ffff;
              border-radius: 50%;
              float: left;
              margin: 0 8px;
              box-sizing: border-box;
              cursor: pointer;

              &.active {
                background: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}


.main {
  .wrapper {
    .news-wrapper {
      .list-outer-group {
        margin-top: 14px;

        .list-tab {
          width: 100%;
          height: 66px;
          overflow: hidden;
          border: 1px solid #eeeeee;
          border-left: none;
          border-right: none;

          li {
            float: left;
            padding: 0 10px;
            margin-top: 20px;

            a {
              color: #878787;
            }

            &:first-of-type {
              border-left: 5px solid $themeColor;
            }

            &.active {
              a {
                color: #212121;
              }
            }
          }
        }

        .list-inner-group {
          li {
            padding: 20px;
            border-bottom: 1px solid #eeeeee;
            overflow: hidden;

            .thumbnail-group {
              float: left;
              height: 162px;
              width: 226px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .news-group {
              float: right;
              width: 504px;
              height: 162px;
              position: relative;

              .title {
                font-size: 22px;

                a {
                  color: #212121;

                  &:hover {
                    color: $themeColor;
                  }
                }
              }

              .desc {
                color: #878787;
                font-size: 14px;
                margin-top: 10px;
              }

              .more {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                font-size: 14px;
                color: #878787;

                .category {
                  color: $themeColor;
                }

                .pub-time {
                  float: right;
                  margin-left: 20px;
                }

                .author {
                  float: right;
                }
              }
            }
          }
        }

        .load-more-group {
          padding: 20px 0;
          text-align: center;

          .load-more {
            width: 402px;
            height: 40px;
            background: #d2dcea;
            color: #6d85ac;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.main {
  .wrapper {

    .sidebar-wrapper {
      float: right;
      width: $sidebarWidth;
      background: #ffffff;

      .title-group {
        padding: 20px;
        overflow: hidden;

        .title {
          float: left;
          font-size: 18px;
          color: #212121;
        }

        .more {
          float: right;
          font-size: 14px;
          color: $themeColor;
        }
      }

      .advertise-group {

        img {
          width: 100%;
        }
      }

      .focus-group {
        padding: 0 20px;
        overflow: hidden;

        .left-group {
          width: 180px;
          float: left;

          li {
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: url("https://www.xfz.cn/static/build/images/side-icon.png");
            background-repeat: no-repeat;
            background-size: 26%;
            margin-bottom: 20px;
            overflow: hidden;

            a {
              float: left;
              margin-left: 64px;
              color: #878787;
              font-size: 14px;
            }
          }

          .zhihu {
            background-position: 0 0;
          }

          .weibo {
            background-position: 0 -63px;
          }

          .toutiao {
            background-position: 0 -122px;
          }
        }

        .right-group {
          float: right;
          width: 100px;
          background: url("https://www.xfz.cn/static/build/images/xfz-school-wechat-share.png");
          background-repeat: no-repeat;
          background-size: 100%;

          .desc {
            margin-top: 100px;
            color: #878787;
            font-size: 12px;
          }
        }
      }

      .hot-news-group {

        .hot-list-group {

          li {
            padding: 0 20px 20px;
            overflow: hidden;
            border-bottom: 1px solid #eeeeee;

            .left-group {
              float: left;
              width: 204px;
              height: 72px;
              position: relative;

              .title {
                font-size: 16px;

                a {
                  color: $mainFontColor;
                  &:hover {
                    color: $themeColor;
                  }
                }
              }

              .more {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                font-size: 12px;

                .category {
                  color: $themeColor;
                  float: left;
                }

                .pub-time {
                  float: right;
                  color: $assistFontColor;
                }
              }
            }

            .right-group {
              float: right;
              width: 102px;
              height: 72px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  font-size: 14px;
  color: #c9c9c9;
  margin-top: 20px;

  .top-group {
    background: #555e67;
    height: 100px;
    padding-top: 26px;
    box-sizing: border-box;

    .top-inner-group {
      width: $pageWidth;
      margin: 0 auto;
      //overflow: hidden;
      position: relative;

      .log-box {
        width: 168px;
        height: 54px;
        float: left;
        background: url("https://www.xfz.cn/static/build/images/logo.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .detail-group {
        float: left;
        margin-left: 84px;

        .line1 {
          overflow: hidden;

          .links {
            float: left;
            overflow: hidden;

            li {
              float: left;
              padding: 0 10px;
              border-right: 1px solid #c9c9c9;

              a {
                color: #c9c9c9;
              }

              &:first-of-type {
                padding-left: 0;
              }

              &:last-of-type {
                border-right: none;
              }
            }
          }
          .about-us {
            float: left;
            margin-left: 40px;

            .title {
              float: left;
            }

            .social-group {
              overflow: hidden;
              float: left;

              .weixin {
                background: url("https://www.xfz.cn/static/build/images/wx-icon.png");
                background-repeat: no-repeat;
                background-size: 30%;
                cursor: pointer;

                &:hover .wx-qrcode {
                  display: block;
                }

                .text {
                  margin-left: 24px;
                  color: #ffffff;
                }

                .wx-qrcode {
                  width: 200px;
                  height: 400px;
                  background: url("https://xfz.cn/static/build/images/xfz-school-wechat-share.png");
                  background-repeat: no-repeat;
                  background-size: 100%;
                  position: absolute;
                  right: 360px;
                  top: -200px;
                  display: none;

                }
              }

              li {
                float: left;
              }
            }
          }
        }

        .line2 {
          overflow: hidden;
          margin-top: 20px;

          .address {
            float: left;
          }
          .contact {
            float: left;
            margin-left: 40px;
          }

        }
      }
    }
  }

  .bottom-group {
    background: #383e44;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }
}