@import "../common/constants";
@import "../common/init";

body  {
  background: pink;
}

.mask-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  display: none;

  .auth-wrapper {

    $authWrapperHeight: 500px;
    width: 400px;
    height: $authWrapperHeight;
    //background: #fff;
    margin: 40px auto;

    .close-wrapper {
      width: 100%;
      height: 40px;
      background: #fff;

      .close-btn {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: right;
        margin-top: 10px;
        color: $assistFontColor;
        cursor: pointer;
      }
    }

    .auth-inner-wrapper {
      width: 100%;
      height: $authWrapperHeight - 40px;
      position: relative;

      .scroll-wrapper {
        width: 800px;
        //height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .auth-group {
          width: 400px;
          height: 100%;
          padding: 20px;
          box-sizing: border-box;

          .top-group {
            height: 36px;
            border-bottom: 1px solid #eee;
            line-height: 32px;

            .title {
              float: left;
              color: $mainFontColor;
              border-bottom: 3px solid $themeColor;
            }

            .switch {
              float: right;
              color: $themeColor;
            }
          }

          .form-group {
            margin-top: 20px;
            .input-group {
              margin-bottom: 20px;
              height: 40px;

              .remember-label {
                font-size: 14px;
              }

              .form-control {
                border: 1px solid #ccc;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;
                height: 40px;
                outline: none;
              }

              .submit-btn {
                width: 100%;
                height: 40px;
                background: $themeColor;
                border: none;
                color: #ffffff;
                cursor: pointer;
              }

              .short-input-group {
                width: 250px;
                float: left;
              }

              .input-group-addon {
                float: right;
                width: 100px;

                .sms-captcha-btn {
                  width: 100%;
                  height: 40px;
                  border: 1px solid $themeColor;
                  color: $themeColor;
                  display: inline-block;
                  text-align: center;
                  line-height: 40px;
                  box-sizing: border-box;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .signin-group {
          float: left;
          background: #fff;
        }

        .signup-group{
          float: left;
          visibility: hidden;
          background: #fff;
        }
      }
    }
  }
}