@import "init.scss";
@import "constants.scss";

.header{
    width:100%;
    height: 64px;
    background: #2d2d2d;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;

    .container{
        width: $pageWidth;
        height: 100%;
        margin: 0 auto;

        .logo-box{
            width:140px;
            height: 49px;
            background: url("https://www.xfz.cn/static/build/images/logo.png") no-repeat;
            margin-top:8px;
            float: left;

            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .nav{
            margin-left: 80px;
            float: left;

            li{
                float: left;
                margin-right: 40px;
                line-height: 64px;
                height: 64px;
                box-sizing: border-box;

                a{
                    color: white;
                }
                &.active{
                    border-bottom: 5px solid #5c87d9;
                }
            }
        }

        .auth-box{
            float: right;
            line-height: 64px;
            height: 64px;
            color: white;
            position: relative;

            .iconfont{
                color: #fff;
                font-size: 20px;
            }
            a{
                color: white;
            }
            .user-more-box{
                background: #fff;
                width: 140px;
                //height: 90px;
                position: absolute;
                box-shadow: 0 3px 4px #ccc;
                border-radius: 5px;
                top:65px;
                left: 50%;
                margin-left: -70px;
                font-size: 14px;
                z-index: 2;
                display: none;

            .triangle{
                border: solid transparent;
                border-width: 10px;
                border-bottom-color: #fff;
                display: block;
                width: 0;
                height: 0;
                margin-top: -20px;
                margin-left: 60px;
            }
            a{
                text-align: center;
                height: 44px;
                color: #6d85ac!important;
                display: block;
                line-height: 44px;
            }
        }
        }

    }
}