<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1645680_gp5egnihb27.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="log-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费资讯</a></li>
                <li><a href="#">搜索</a></li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-url">
                        <li>
                            <a href="">
                                <img src="https://static-image.xfz.cn/1581945649_702.png"/>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://static-image.xfz.cn/1582007884_508.jpeg"/>
                            </a>
                        </li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control"></ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新资源</a></li>
                        <li><a href="#">热点</a></li>
                        <li><a href="#">深度报道</a></li>
                        <li><a href="#">干货分享</a></li>
                        <li><a href="#">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href=""><img src="https://static-image.xfz.cn/1581983960_171.jpg-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <a href=""><p class="title">早报：钟南山：峰值到不代表拐点到；蛋壳公寓致歉：不趁疫情发横财；苏宁启动无人车配送</p></a>
                                <p class="desc">苏宁无人车</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">陪伴创业者成长的小饭桌</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href=""><img src="https://static-image.xfz.cn/1582033917_373.png-website.news.list" alt=""></a>
                            </div>
                            <div class="news-group">
                                <a href=""><p class="title">“疫期送药上门超300万次”“信息透明解决物资调配难题”丨互联网医疗企业战疫日记</p></a>
                                <p class="desc">苏宁无人车</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">陪伴创业者成长的小饭桌</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            <div class="sidebar-wrapper"></div>
        </div>
    </div>
</body>
</html>