{% extends 'base/front_base.html' %}
{% load news_filters %}
{% block title %}
    新闻详情页
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="title">{{ news.title }}</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">{{ news.author.username }}</span>
                            <span class="pub-time">{{ news.pub_time | time_since}}</span>
                            <span class="category">{{ news.category.name }}</span>
                        </div>
                        <div class="share-group">
                            <span>分享至:</span>
                            <a href="" class="weixin share-item"></a>
                            <a href="" class="weibo share-item"></a>
                        </div>
                    </div>
                    <article class="article">
                        {{ news.content | safe}}
                    </article>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">文章评论（0）</h3>
                    <textarea name="comment" id="" class="comment-textarea logined-textarea" placeholder="立即登录，参与评论~">
                    </textarea>
                    <div class="submit-btn-group">
                        <button class="submit-btn">立即评论</button>
                    </div>
                    <ul class="comment-list">
                        <li>
                            <div class="comment-info">
                                <img src="https://static-image.xfz.cn/1577153468_501.jpg-member.photo" alt=""
                                     class="avatar">
                                <span class="author">Null</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">写的很精彩</p>
                        </li>
                        <li>
                            <div class="comment-info">
                                <img src="https://static-image.xfz.cn/1577153468_501.jpg-member.photo" alt=""
                                     class="avatar">
                                <span class="author">Null</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">写的很精彩</p>
                        </li>
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}