<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1645680_gp5egnihb27.css">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/index.min.js' %}"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="log-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">付费资讯</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="news-wrapper">
                <h1 class="title">早报：钟南山：峰值到不代表拐点到；蛋壳公寓致歉：不趁疫情发横财；苏宁启动无人车配送</h1>
                <div class="news-info">
                    <div class="info-group">
                        <span class="author"> 柴容</span>
                        <span class="pub-time">02月18日</span>
                        <span class="category">热点</span>
                    </div>
                    <div class="share-group">
                        <span>分享至:</span>
                        <a href="" class="weixin share-item"></a>
                        <a href="" class="weibo share-item"></a>
                    </div>
                </div>
                <article class="article">
                    蛋壳公寓通过官方微信号发布长文《蛋壳公寓致广大房东的真心话》，表示对于房东反映的单方面通知免租的情况，蛋壳确实存在部分员工与房东沟通时的问题。让本该有的协商，变成了一种“通知”，对此表达由衷歉意。蛋壳称，向房东寻求免租期爱心支持是用于对租客进行补贴，绝不会趁疫情大发横财，因此获得的任何额外收益，将全部返还房东。
                </article>
            </div>
            <div class="comment-wrapper">
                <h3 class="title">文章评论（0）</h3>
                <textarea name="comment" id="" class="comment-textarea logined-textarea" placeholder="立即登录，参与评论~">
                    </textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn">立即评论</button>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1577153468_501.jpg-member.photo" alt=""
                                 class="avatar">
                            <span class="author">Null</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">写的很精彩</p>
                    </li>
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1577153468_501.jpg-member.photo" alt=""
                                 class="avatar">
                            <span class="author">Null</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">写的很精彩</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="title-group">
                <span class="title">在线课堂</span>
                <a class="more" href="">更多</a>
            </div>
            <div class="advertise-group">
                <a href="">
                    <img src="https://static-image.xfz.cn/1554346383_8.png" alt="">
                </a>
            </div>
            <div class="platform-group">
                <div class="title-group">
                    <span class="title">关注小饭桌</span>
                </div>
                <div class="focus-group">
                    <ul class="left-group">
                        <li class="zhihu">
                            <a href="#" target="_blank">小饭桌创业课堂</a>
                        </li>
                        <li class="weibo">
                            <a href="#" target="_blank">小饭桌创业课堂</a>
                        </li>
                        <li class="toutiao">
                            <a href="#" target="_blank">小饭桌</a>
                        </li>
                    </ul>
                    <div class="right-group">
                        <p class="desc">扫码关注小饭桌微信公众号xfz008</p>
                    </div>
                </div>
            </div>
            <div class="hot-news-group">
                <div class="title-group">
                    <span class="title">热门推荐</span>
                </div>
                <ul class="hot-list-group">
                    <li>
                        <div class="left-group">
                            <p class="title"><a href="">早报：钟南山表示新型冠状病毒肺炎疫情...</a></p>
                            <p class="more">
                                <span class="category">深度报道</span>
                                <span class="pub-time">1小时前</span>
                            </p>
                        </div>
                        <div class="right-group">
                            <a href=""><img src="https://static-image.xfz.cn/1581983960_171.jpg-website.news.list"
                                            alt=""></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="log-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="">关于小饭桌</a></li>
                        <li><a href="">创业课堂</a></li>
                        <li><a href="">寻求报道</a></li>
                        <li><a href="">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们：</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <div class="wx-qrcode"></div>
                                <span class="text">xfz008</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：北京市朝阳区东三环北路38号院泰康金融大厦</p>
                    <p class="contact">呼叫热线：4008-100-300</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574
    </div>
</footer>
</body>
</html>