{% extends 'base/front_base.html' %}
{% block title %}
    新闻详情页
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="title">早报：钟南山：峰值到不代表拐点到；蛋壳公寓致歉：不趁疫情发横财；苏宁启动无人车配送</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author"> 柴容</span>
                            <span class="pub-time">02月18日</span>
                            <span class="category">热点</span>
                        </div>
                        <div class="share-group">
                            <span>分享至:</span>
                            <a href="" class="weixin share-item"></a>
                            <a href="" class="weibo share-item"></a>
                        </div>
                    </div>
                    <article class="article">
                        蛋壳公寓通过官方微信号发布长文《蛋壳公寓致广大房东的真心话》，表示对于房东反映的单方面通知免租的情况，蛋壳确实存在部分员工与房东沟通时的问题。让本该有的协商，变成了一种“通知”，对此表达由衷歉意。蛋壳称，向房东寻求免租期爱心支持是用于对租客进行补贴，绝不会趁疫情大发横财，因此获得的任何额外收益，将全部返还房东。
                    </article>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">文章评论（0）</h3>
                    <textarea name="comment" id="" class="comment-textarea logined-textarea" placeholder="立即登录，参与评论~">
                    </textarea>
                    <div class="submit-btn-group">
                        <button class="submit-btn">立即评论</button>
                    </div>
                    <ul class="comment-list">
                        <li>
                            <div class="comment-info">
                                <img src="https://static-image.xfz.cn/1577153468_501.jpg-member.photo" alt=""
                                     class="avatar">
                                <span class="author">Null</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">写的很精彩</p>
                        </li>
                        <li>
                            <div class="comment-info">
                                <img src="https://static-image.xfz.cn/1577153468_501.jpg-member.photo" alt=""
                                     class="avatar">
                                <span class="author">Null</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">写的很精彩</p>
                        </li>
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}